:root{
  --main-color: #6744c7;
  --second-color: #8e72e1;
  --bg1-color: #2c235f;
  --bg2-color: #1e1849;
  --bg3-color: #a6a3bd;
  --white-color: #eee;
  --dark-color: #000000;
  --main-transition: .5s;
}
.main-c {
  color: var(--main-color) ;
}
.second-c {
  color: var(--second-color) ;
}
.white-c {
  color: var(--white-color) ;
}
.dark-c {
  color: var(--dark-color) ;
}
.bg1-c {
  color: var(--bg1-color) ;
}
.bg1 {
  background-color: var(--bg1-color) ;
}
.bg2 {
  background-color: var(--bg2-color) ;
}
.bg3 {
  background-color: var(--bg3-color) ;
}

.main-transition {
  transition:  var(--main-transition)
};
body {
  background-color: var(--bg1-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Link{
  text-decoration: none;
}
/* Sections */
@media (max-width: 762px) {
  .h-section{
    height: calc(100vh - 153px);
  }
}
@media (min-width: 762px) {
  .h-section{
    height: calc(100vh - 137px);
  }
}
@media (min-width: 972px) {
  .h-section{
    height: calc(100vh - 141px);
  }
}
@media (min-width: 1200px) {
  .h-section{
    height: calc(100vh - 141px);
  }
}

@media (max-width: 762px) {
  .projects,
  .contact-me{
    height: 100%;
  }
}

/* Header */
.navbar{
  background-color: #4e25c0;
}
.imglogo{
  width: 60px;
}
.imglogo img{
  width: 100%;
  border-radius: 50%;
}
.active{
  background-color: #eee;
}

/* landing */
.landing{
  background-color: #1e1842;
}
@media (min-width: 972px) {
  .landing .image,
  .about .image{
    width: 45%;
  }
  .landing .info,
  .about .info{
    width: 55%;
  }
}
@media (max-width: 972px) {
  .landing .info,
  .about .info{
    width: 100%;
  }
}
.landing .image img,
.about .image img{
  max-width:100%;
  animation-name: up-down;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: inherit;
  animation-delay: 0s;
  animation-direction: alternate; 
}
@keyframes up-down {
  0%{
    transform: translatey(60px);
  }
  50%{
    transform: translatey(-60px);
  }
  100%{
    transform: translatey(60px);
  }
}
.btntrans{
  z-index: 1;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  transition: calc(var(--main-transition) * 2) ;
}
.btntrans::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg3-color);
  transition: calc(var(--main-transition) * 2) ;
  z-index: -1;
  border-radius: 10px;
}
.btntrans:hover{
  color:var(--main-color) ;
}
.btntrans:hover::after{
  width: 100%;
}
/* about */
.about .info p{
  border:3px solid var(--main-color);
  z-index: 1;
  border-radius: 10px;
  font-size: 15px;
}
.about .info p::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg1-color);
  transition: calc(var(--main-transition) * 2) ;
  z-index: -1;
  border-radius: 10px;
}
.about .info p:hover:after{
  width: 100%;
}
@media (max-width: 972px) {
  .about .info p{
    font-size: 15px;
  }
}


/* skills */
.skills .image{
  width: 80%;
}
.skills .image img{
  width: 100%;
}
@media (max-width: 972px) {
.skills .image{
  width: 100%;
  margin-bottom: 20px;
}
}
/* projects */
.projects .cardp{
  background-color: #e9ecef5e;
}
/* contact-me */
.contact-me .image{
  width: 40%;
}
.contact-me .info{
  width: 60%;
}
.contact-me .info textarea{
  height: 200px;
  border: 1px solid var(--dark-color);
}
.contact-me .info input,
.contact-me .info textarea{
  max-width: 100%;
}
@media (max-width: 762px) {
  .contact-me .image,
  .contact-me .info{
    width: 100%;
  }
}






